./blade-api/logs/
./blade-api/npm-debug.log
./blade-api/yarn-error.log
./blade-api/node_modules/
./blade-api/package-lock.json
./blade-api/yarn.lock
./blade-api/coverage/
./blade-api/.idea/
./blade-api/run/
./blade-api/.DS_Store
./blade-api/*.sw*
./blade-api/*.un~
./blade-api/typings/
./blade-api/.nyc_output/
./client-vue/node_modules/